# Ejercicio 1
Ejercicio 1 de evaluacion de expresiones en python

$ \frac {\pi ^ 2 }{6} =\sum_{n=1}^{\infty} \frac{1}{n ^ 2} $

In [1]:
import math
res = math.pi **2 /6
res2=0
for n in range(1,5000000):
    res2 +=1/(n**2)

print(f"valor teorico: {res}, aproximacion: {res2}")
error= abs(res-res2)
print(f"Error : {error}")

valor teorico: 1.6449340668482264, aproximacion: 1.6449338668481501
Error : 2.0000007627807292e-07

expresion de ejemplo

-primero se ejecuta la potencia : 2 ** 2 = 4

-despues se multiplica por 4

-y se le suma 3

In [ ]:

resultado = 3 + 4 * 2 **2
print(resultado)

expresion 1

-primero se suma el 2 y el 3 dentro del parentesis: (2+3)

-despues se multimplica el resultado de la suma por 4 = 5 * 4

In [1]:
resultado1= (3+2) * 4
print(resultado1)

20

expresion 2

-primero se eleva el 3 al cuadrado = 3 ** 2

-el resultado se multiplica por 2= 2 * 9

In [ ]:
resultado2 = 2 * 3 ** 2 
print(resultado2)

18

expresion 3

-primero se divide el 10 entre el nomero 3 y Python lo redondea a 3 = 10 // 3

-despues se suma el resultado (3) con el 2= 3+2

In [5]:
resultado3 = 10 // 3 + 2
print(resultado3)

5

#expresion 4

primero se divide 17 / 5 sin tomar decimales dejando el residuo de 2.

el residuo que es 2 se multiplica por 2

In [9]:
resultado4 = 17 % 5 * 2 
print(resultado4)

4

expresion 5

-primero se eleva el 2 al cuadrado= 2 ** 2

-despues el - se multiplica por el resultado -(4)

In [11]:
resultado5 = -2 ** 2
print(resultado5)

-4

expresion 6

primero se eleva el 2 al cuadrado 2 ** 2

despues se multiplica el 4 por el resultado anterior (4) dando 16= 4*4

despues el 16 se divide entero con el 3 dando 5 = 16 //3

finalmente al 5 se le suma 3 dando 8 = 3 + 5

In [ ]:
resultado6 = 3 + 4 * 2 ** 2 // 3
print(resultado6)

8

expresion 7

-se compara el 3 diciendo si es menor que el 4 lo cual es true

-despues se compara el 4 diciendo que es menor que el 5  lo cual tambien es true

In [16]:
resultado7 = 3 < 4 < 5
print(resultado7)

True

expresion 8

-se compara el 3 diciendo que es mayor que 2 lo que da true

-se compara el 5 diciendo que es menor que 10 lo que da true

-despues se hace una comparacion and con true y true lo que tambien da true

-finalmente se hace una comparacion  or con el true y el false lo que da true

In [19]:
resultado8 = (3 > 2) and (5 < 10) or False
print(resultado8)

True

Primero se suma el 3 con el 1 = 3+1

despues se compara el 5 con el 4 en binario con el AND 

4  2  1

1  0  1  =5

1  0  0  =4

---------

1  0  0 =4

In [ ]:
resultado9 = 5 & 3 + 1
print (resultado9)

4

Expresion 10

-primero se saca el residuo de la divison de 5/3 que da 2

-despues se suma el 2 con el 3 dentro de los parentesis

-despues el 4 se eleva el cuadrado= 4 ** 2 dando 16

-despues el 16 se divide entero (//) entre 2 dando 8

-despues el 16 se multiplica por el 5 dando 40

-despues se toma el valor not false que da true ya que 40 no es un valor booleano

In [33]:
resultado10 = (2 + 3) * 4 ** 2 // (5 % 3) and not False
print(resultado10)

True

In [ ]:
resultado11 =  ((65 & 66) > 70 ) and not (65 ^ 66) == 0
print(resultado11)

False